@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@1,300&display=swap');

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #DDD7D7;
  padding: 1rem;
  width: auto;
}

.nav-brand img {
  width: 10rem;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 3rem;
}

.nav-links a.active {
  position: relative;
  color: #C98474;
}

.nav-links a.active::after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: #C98474;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
}

.nav-links a:hover {
  color: #C98474;
}

.nav-links a.donate-btn {
  color: #000000;
  background-color: #C98474;
  border-radius: 5px;
  padding: 0.7rem 1.2rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
}

.donate-btn {
  margin-left: auto;
}

/* ===================================================================== */

/*          Page home          */


.home-content img {
  width: 100%;
  max-height: 50em;
  z-index: 1;
  margin-bottom: 8rem;
  object-fit: cover;
  margin-top: -1.5rem;
}

.home-title {
  font-size: 5rem;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 8%;
  max-width: 30%;
  font-weight: 100;
}

.home-btns {
  width: 35em;
  height: 8rem;
  border: none;
  font-family: 'Inter', sans-serif;
  color: #000000;
  text-align: left;
  border-radius: 8px;
}

.option {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  margin-top: -11em;
}

.home-btn {
  background: #F2D388;
  margin: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.home-btn2 {
  background: rgb(167, 210, 203);
  margin: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.home-btn p {
  font-size: 14px;
  position: absolute;
  margin-top: -2rem;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  font-weight: 100;
}

.home-btn span {
  font-size: 14px;
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  width: 18rem;
}

.home-btn2 p {
  font-size: 14px;
  position: absolute;
  margin-top: -2rem;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  font-weight: 100;
}

.home-btn2 span {
  font-size: 14px;
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  width: 18rem;
}

.home-about {
  background: #DDD7D7;
  color: #000000;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-bottom: 5rem;
  font-family: sans-serif;
}


.home-about h1 {
  font-size: 2.7rem;
  padding-top: 2rem;
}

.home-about p {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  width: 60%;
}

.home-about2 span {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.home-projects {
  background: #C98474;
  width: 10;
  height: 50em;
  text-align: center;
  margin-bottom: 5rem;
}

.home-projects h1 {
  position: relative;
  top: 3em;
  font-size: 30px;
  width: auto;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5%;
  width: 100%;
}

.projectImg {
  position: relative;
  top: 9em;
  width: 100%;
  height: 25em;
  max-width: 22rem;
  max-height: 15rem;
  object-fit: cover;
}

.projectbtn {
  border: none;
  width: 22rem;
  height: 3rem;
  position: relative;
  font-family: 'Inter', sans-serif;
}

.project1btn {
  top: 6rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project1btn span {
  color: black;
  font-size: 1rem;
  margin-left: 1rem;
}

.home-contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.contact-p1 {
  position: absolute;
  top: -25%;
  left: 38%;
  color: rgb(141, 141, 141);
  font-size: 1.3rem;
  opacity: 0.5;
}

.contact-p2 {
  color: rgb(141, 141, 141);
  position: relative;
  font-size: 2rem;
  opacity: 0.6;
  margin-left: 15px;
  margin-bottom: 20px;
}

.contact-p3 {
  color: rgb(141, 141, 141);
  position: relative;
  font-size: 1.7rem;
  opacity: 0.7;
  margin-left: 15px;
}

.home-contact {
  position: relative;
}

.home-contact h1 {
  position: absolute;
  top: -10%;
  left: 50%;
  width: 23rem;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
}

.contact-mapa img {
  width: 40rem;
  height: 22rem;
  max-width: 23rem;
  max-height: 15rem;
  object-fit: cover;
}


.modal-contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal-p2 {
  color: rgb(0, 0, 0);
  position: relative;
  font-size: 2rem;
}

.modal-p3 {
  color: rgb(0, 0, 0);
  position: relative;
  font-size: 1.7rem;
}

.modal-about {
  color: #000000;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-bottom: 5rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.modal-about2 span {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
  font-size: 1.3rem;
  margin-top: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}


@media (min-width: 1288px) {
  .home-projects {
    height: 35em;
  }
}


/* ===================================================================== */

/*          Page about          */

.about-content img {
  width: 100%;
  max-height: 40em;
  object-fit: cover;
  margin-top: -1.5rem;
}

.about2-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

/* .imgAbout2 img {
  position: relative;
  margin-left: 60rem;
  margin-right: 13%;
  height: 25rem;
  max-width: 100%;
  top: 8rem;
} */

.about2-content::after {
  content: "";
  display: table;
  clear: both;
}

.about2-content h1 {
  font-size: 2rem;
  margin-top: 5.5rem;
  margin-bottom: 2rem;
  max-width: 50rem;
}

.about-text {
  font-size: 1.5rem;
  margin-left: 3%;
  margin-right: 1%;
  margin-bottom: 1rem;
  max-width: 100rem;
}

.about-text2 {
  font-size: 1.3rem;
  margin-top: -0.8%;
  margin-left: 30%;
  margin-right: 13%;
  margin-bottom: 1rem;
  max-width: 50rem;
}

@media (max-width: 1200px) {
  .about-text {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    font-size: 1rem;
  }

  .about-text2 {
    margin-left: 20%;
  }
}

@media (max-width: 1024px) {
  about-text {
    margin-left: 10%;
  }

  .about-text2 {
    margin-left: 10%;
  }

  .contact-p1 {
    display: none;
  }

  .home-contact h1 {
    top: -8%;
    left: 50%;
  }
}

@media (max-width: 375px) {
  .about-content img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }

  .about2-content h1 {
    margin-left: 10%;
    margin-top: 4rem;
  }

  .imgAbout2 img {
    display: none;
  }

  .about-text {
    margin-left: -3rem;
    margin-right: -3rem;
    max-width: 100%;
    margin-top: 0rem;
  }

  .about-text2 {
    margin-left: 10%;
    margin-top: -0.9rem;
  }
}

/* ====
================================================================= */

/*          Page projects          */

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: -1.5rem;
}

.carousel-item {
  width: 100%;
  height: 540px;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.buttons button {
  flex: 0 0 auto;
  width: 29rem;
  margin: 0 16px;
  top: 1em;
  border: none;
}

.rhythmoflife {
  position: relative;
  height: 65px;
  background: #F2D388;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.WoodworkingInAction {
  position: relative;
  height: 65px;
  background: #A7D2CB;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;

}

.rhythmoflifeText {
  position: relative;
  width: 90%;
  left: 5%;
  top: 5em;
  margin-bottom: 8em;
}

.rhythmoflifeText h2 {
  opacity: 60%;
}

.rhythmoflifeText,
.WoodworkingInActionText p {
  font-size: 20px;
}

.WoodworkingInActionText {
  position: relative;
  width: 90%;
  left: 5%;
  top: 5.5em;
  margin-bottom: 8em;
}

.hidden {
  display: none;
}

/* ===================================================================== */

/*          Page datasheet          */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.5rem;
}

.datasheet-content {
  display: flex;
  place-items: center;
  background: #A7D2CB;
  margin-top: auto;
  width: 100%;
  height: 5rem;
}

.datasheet-title {
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  padding: 0 10rem;
  font-size: 2rem;
}

.datasheet-title h2 {
  width: 50rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.datasheet-card {
  background: #7EACA5;
  border-radius: 25px;
  margin: 1rem;
  width: 25rem;
  height: 10rem;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.datasheet-card:hover {
  transform: scale(1.05);
}

.datasheet-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  transition: transform 0.3s ease;
}

.datasheet-card img:hover {
  transform: scale(1.05);
}

.card-name,
.card-group {
  position: absolute;
  font-family: 'Inter', sans-serif;
  color: black;
}

.card-name {
  top: 3rem;
  left: 10rem;
  font-size: 24px;
  font-weight: 500;
  width: 13rem;
}

.card-group {
  bottom: 1rem;
  left: 15rem;
  font-size: 18px;
  opacity: 0.5;
}

@media (max-width: 375px) {
  .datasheet-title {
    padding: 0 1rem;
  }

  .datasheet-card {
    width: 19rem;
    height: 9rem;
  }

  .datasheet-card img {
    width: 80px;
    height: 80px;
  }

  .card-name {
    top: 1.5rem;
    left: 7rem
  }

  .card-group {
    top: 3.5rem;
    left: 10rem;
  }
}

@media (max-width: 414px) {
  .datasheet-title {
    padding: 0 0.6rem;
  }

  .datasheet-card {
    width: 22rem;
  }

  .card-name {
    left: 9rem
  }

  .card-group {
    left: 13rem;
  }
}

/* ===================================================================== */

/*          Page donate          */

.help {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 5rem;
  padding: 1rem;
  background: #F4E3BA;
  margin-top: -0.2rem;
}

.help h1 {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  align-items: center;
  width: 15rem;
  color: #000000;
  left: 5%;
  font-size: 20px;
}

.BankData {
  position: relative;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  top: 50px;
  margin-bottom: 4em;
  text-align: center;
  margin-top: 3rem;
}

.BankData h2 {
  width: 100%;
  height: 52px;
  background: #F2D388;
  line-height: 52px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-bottom: 3rem;
}

.BankData p {
  line-height: 25px;
  font-size: 20px;
}

.pix,
.Transfer {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  height: 20em;
  width: 40rem;
  border-color: #ddd7d700;
  filter: drop-shadow(1px 4px 10px rgba(0, 0, 0, 0.25));
  background-color: #c5c5c513;
  font-family: 'Inter', sans-serif;
}

.message {
  position: relative;
  height: 50%;
  max-width: 95%;
  top: 80px;
  background: #F4E3BA;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10rem;
  padding: 4rem 4rem 4rem 4rem;
  left: 3%;
}

.message p {
  position: relative;
  width: 90%;
  left: 5%;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: justify;
  color: #000000;
  font-family: 'Inter', sans-serif;
  text-align: start;
}

.message h1 {
  position: relative;
  width: 97%;
  height: 80px;
  left: 4.5%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #000000;
}

@media (max-width: 500px) {

  .message {
  padding: 0rem 0rem 0rem 0rem;
  }

  .message h1 {
    font-size: 25;
  }

  .message p {
    font-size: 20px;
  }
}

/* ===================================================================== */

footer {
  background-color: #DDD7D7;
  padding: 40px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 1.5rem;
  margin-top: 0rem;
  font-family: 'Inter', sans-serif;
}

.footer-icons i {
  font-size: 30px;
  color: #c29f98;
  padding: 0rem 0.7rem;
}

.footer-icons i:hover {
  color: #C98474;
}

.footer-text {
  margin-bottom: 3rem;
  font-size: 0.8rem;
  color: black;
  font-family: 'Inter', sans-serif;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-links a {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.footer-links a:hover {
  color: #C98474;
}

.footer-content img {
  max-width: 100%;
}

@media (min-width: 730px) {

  .checkbox,
  .wrapper {
    display: none;
  }
}

@media (max-width: 1025px) {
  .buttons button {
    max-width: 23em;
    font-size: 14px;
  }

  .buttons {
    gap: 0px;
  }

  .datasheet-title {
    font-size: 1.5rem;
  }

  .message h1 {
    font-size: 1.4rem;
  }

  .message p {
    font-size: 1rem;
    max-width: 100%;
  }

}

@media (max-width: 800px) {
  .carousel-item {
    height: 260px;
  }

  .buttons button {
    width: 100%;
    max-width: 12rem;
    margin: 0 10px;
    font-size: 13px;
    height: 40px;
  }

}

@media (max-width: 400px) {
  .carousel-item {
    height: 180px;
  }

  .buttons button {
    max-width: 10rem;
    margin: 0 12px;
    font-size: 13px;
  }


}

@media (max-width: 735px) {
  .home-title {
    font-size: 2rem;
    color: #FFFFFF;
    position: absolute;
    top: 25%;
    left: 8%;
    width: 100%;

  }

  .home-about h1 {
    width: 100%;
    font-size: 2rem;
  }

  .home-about p {
    width: 95%;
    font-size: 1rem;
  }

  .home-about2 span {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0.7rem;
    font-size: 1rem;
  }

  .contact-txt h1 {
    font-size: 2rem;
    margin-top: 5rem;
    margin-left: 1rem;
  }

  .nav-links {
    display: none;

  }

  .wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50%;
    background: #F4E3BA;
    transition: all 0.6s ease-in-out;
    z-index: 98;
    font-family: 'Inter', sans-serif;
  }

  #active:checked~.wrapper {
    right: 0;
  }

  .menu-btn {
    position: fixed;
    z-index: 2;
    right: 10px;
    top: 1%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 99;
  }

  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .menu-btn:before {
    transform: translateY(-8px);
  }

  .menu-btn:after {
    transform: translateY(8px);
  }


  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: .6s;
  }

  /* closing animation */
  #active:checked+.menu-btn span {
    transform: scaleX(0);
  }

  #active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #000000;
  }

  #active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #000000;
  }

  .wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  .wrapper ul li {
    height: 10%;
    margin: 15px 0;

  }

  .wrapper ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    color: #464545;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);

  }

  .wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #cfb881c0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 15px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }

  .wrapper ul li a:hover:after {
    transform: scaleY(1);
  }

  .wrapper ul li a:hover {
    color: #000000;
  }

  input[type="checkbox"] {
    display: none;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }

  .content .title {
    font-size: 40px;
    font-weight: 700;
  }

  .content p {
    font-size: 35px;
    font-weight: 600;
  }

  #active:checked~.wrapper ul li a {
    opacity: 1;
  }

  .wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }

  #active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    transition-delay: .6s;
    transform: translateX(-100px);
  }


}